*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(39, 58, 77);
    font-family::Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    background-color: blanchedalmond;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    align-self: flex-start;
    background-color: transparent;
    color: rgb(39, 58, 77);
    font-size: 4.5vw;
    font-weight: 550;
    margin-left: 10vw;
    margin-top: 10px;
    border-bottom-style: solid;
}
footer{
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.footer{
    align-self: center;
}
footer, p, a, img{
    background-color: transparent;
}
.footer{
    font-size: .8rem;
    background-color: transparent;
    color: black;
}
/* Calculator Size */
.container{
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 85%;
    width: 25%;
    min-height: 250px;
    min-width: 200px;
    max-height: 650px;
    max-width: 325px;
    border-radius: 20px;
    align-self: flex-end;
    margin-right: 20vw;
}
/* Box that will show results and calculations, takes 40%max-height of container */
.topBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40%;
    width: 95%;    
    background-color:rgb(108, 122, 138);
    border-radius: 10px;
}
/* Result box is 70% height of topBox*/
.resultBox{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    height: 70%;
    width: 99%;
    font-size: 3.5rem;
    overflow: auto;
    padding-right: 3px;
    background-color: transparent;
}
/* Final result number */
.resultBox > div{
    font-size: 2.7rem;
    color: rgb(17, 17, 17);
    font-style: normal;
    background-color:transparent;
}
/*calculationBox is 30% height of topBox*/
.calculationBox{
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    height: 30%;
    width: 99%;
    overflow: auto;
    padding-right: 3px;
    background-color: transparent;
}
/* wrapper for calculations, needed to make overflow work*/
.calc-wrapper{
    display: flex;
    font-size: 1rem;
    background-color: transparent;
}
/* Calculation numbers*/
.calc-wrapper > div{
    color: rgb(46, 46, 46);
    background-color: transparent;
    font-weight: 540;
}
/* Box that will have all of the buttons for the calculator, takes 60%max-height of container */
.bottomBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 5px;
    height: 60%;
    width: 95%;    
    border-style: none;
}
/* Calculator buttons */
button{
    border-style: none;
    outline: none;
    border-radius: 15px;
    height: 18%;
    width: 22%;
    box-shadow: 0px -1px 3px rgb(102, 101, 101), 0px 3px 5px rgb(41, 41, 41);
}
button:hover{
    background-color: rgb(30, 50, 64);
}
button:active{
    background-color: rgb(30, 50, 64);
    box-shadow: 0px -1px 3px rgb(95, 95, 95), 0px 1px 5px rgb(24, 24, 24);
    transform: translateY(1px);
}
/* equals button is bigger than the rest of the buttons and a diff color*/
.equals{
    border-radius: 10px;
    width: 48%;
    background-color: rgb(250, 126, 24);
    color: white;
}
.equals:hover{
    background-color: rgb(250, 100, 10);
}
/*operator, percent, and clear buttons have a different style*/
.multiply, .subtract, .add, .divide, .percent, .AC, .delete{
    color:rgb(250, 126, 24);
}
.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
}
    
.fa-github:hover {
    transform: rotate(360deg) scale(1.3);
}  